.container__menu-title{
  color: purple;
  background: transparent;
}

.container__menu-title > h1{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 100px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, 
    #FF0000,  /* Vermelho */
    #FF7F00,  /* Laranja */
    #FFFF00,  /* Amarelo */
    #00FF00,  /* Verde */
    #0000FF,  /* Azul */
    #4B0082,  /* Ãndigo */
    #9400D3   /* Violeta */
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container__menu-title > hr{
  margin-top: 0px;
  margin-bottom: 0px;
  border-color: rgba(128, 0, 128, 0.5);
}
