header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

app-root {
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  height: 100vh;
  position: relative;
  z-index: 1002;
}
