<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      class="big-card-left-align"
        photoCover="assets/images/MEDICINA.png"
        cardTitle="A MEDICINA DA FLORESTA"
        cardDescription="A Medicina da Floresta é um sistema de cura ancestral e holístico, praticado por povos indígenas e comunidades tradicionais. Ela utiliza os vastos recursos da floresta — plantas medicinais, rituais e a própria conexão com a natureza — para tratar doenças e promover o bem-estar físico, mental e espiritual. Essa prática milenar valoriza a sabedoria da floresta como fonte de saúde e equilíbrio."
        linkedinLink="https://www.linkedin.com/in/SEU_PERFIL_LINKEDIN/"
        githubLink="https://github.com/SEU_USUARIO_GITHUB/"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
        cardTitle="Sopro do Rapé: Conexão e Purificação Indígena"
        cardDescription="O sopro do rapé é uma prática ancestral indígena que envolve a aplicação de um pó feito de tabaco e cinzas de plantas medicinais nas narinas, geralmente através de um sopro forte e intencional. Longe de ser uma droga <strong>não é recreativa</strong>, é um medicamento sagrado utilizado em rituais para purificação, foco, conexão espiritual e cura. Acredita-se que o sopro ajuda a limpar a mente, alinhar os chakras e abrir caminhos para insights e intenções, sendo um importante facilitador em cerimônias e momentos de introspecção."
        photoCover="assets/images/RAPE.png"
        instagramLink="https://www.instagram.com/reel/DG_goVyPTW_/?igsh=MTJodHAxbHBmOXJmbg=="
        linkedinLink="https://www.linkedin.com/in/SEU_PERFIL_LINKEDIN/"
        githubLink="https://github.com/SEU_USUARIO_GITHUB/"
      ></app-small-card>

      <hr class="small-card-divider">

    <app-small-card
      Id="3"
        cardTitle="Ayahuasca: O Chá Sagrado da Amazônia"
        cardDescription="A Ayahuasca é um chá sagrado amazônico, usado em rituais indígenas para cura e expansão da consciência. Feita do cipó Mariri e folhas de Chacrona, ela provoca visões e purgação, facilitando o autoconhecimento, a cura emocional e a conexão espiritual. <strong>Não é recreativa</strong>, exige acompanhamento e visa a limpeza e insights profundos."
        photoCover="assets/images/DESPACH.png"
        instagramLink="https://www.instagram.com/reel/DG_goVyPTW_/?igsh=MTJodHAxbHBmOXJmbg=="
        linkedinLink="https://www.linkedin.com/in/SEU_PERFIL_LINKEDIN/"
        githubLink="https://github.com/SEU_USUARIO_GITHUB/"
      ></app-small-card>

      <hr class="small-card-divider">

    <app-small-card
      Id="4"
        cardTitle="Sananga: O Colírio Sagrado da Floresta"
        cardDescription="A Sananga é um colírio natural feito da raiz de uma planta amazônica, usado tradicionalmente por povos indígenas. Sua aplicação causa uma ardência temporária, mas visa melhorar a visão, limpar energias negativas e promover clareza mental e foco. É um poderoso agente de purificação e conexão com a sabedoria da floresta."
        photoCover="assets/images/sananga.png"
        instagramLink="https://www.instagram.com/reel/DG_goVyPTW_/?igsh=MTJodHAxbHBmOXJmbg=="
        linkedinLink="https://www.linkedin.com/in/SEU_PERFIL_LINKEDIN/"
        githubLink="https://github.com/SEU_USUARIO_GITHUB/"
    >
    </app-small-card>
  </div>
  <div class="articles__main-right">
    <app-big-card
      Id="5"
      videoSrc="https://www.youtube.com/embed/L8lS8EmrhHM"
      cardTitle="NA FORÇA DA SAGRADA MEDICINA"
      cardDescription="A força da Sagrada Medicina reside na conexão profunda com a natureza, oferecendo cura e bem-estar. É um caminho de sabedoria ancestral que nos guia à harmonia interior."
      class="big-card-right"
      instagramLink="https://www.instagram.com/reel/DG_goVyPTW_/?igsh=MTJodHAxbHBmOXJmbg=="
      linkedinLink="https://www.linkedin.com/in/SEU_PERFIL_LINKEDIN/"
      githubLink="https://github.com/SEU_USUARIO_GITHUB/"
    >
    </app-big-card>
  </div>
</div>

<div class="footer__container">
  <p>&copy; Francinaldo 2025 - NA FORÇA DA MIRAÇÃO</p>
</div>
