@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0 !important;
  padding: 0 !important;
  padding-bottom: 100px;
  line-height: 1;
  background-color: rgba(255, 255, 255, 0.3);
}

html {
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/images/kaipatch.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
  pointer-events: none; /* Adicionado para garantir que o fundo não intercepte cliques */
}

* {
  box-sizing: border-box;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}
